.grid-cell {
    margin: 1.5%;
    background-color: white;
    border-radius: 15px;
    border: black solid 1px;
    height: 95%;
    width: 33.3%;
    position: relative;
}

#n-back-grid {
    margin-top: 2%;
    width: 100%;
    height: 90%;
    background-color: rgba(47, 187, 238, 0.15);
    border-radius: 15px;
}

.grid-row {
    margin-left: 0.5%;
    margin-top: 0.5%;
    width: 98.5%;
    height: 32%;
    display: flex;
    flex-direction: row;
}

#n-back-game {
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

#n-back-buttons-div {
    position: relative;
    width: 100%;
    height: 11.5%;
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(47, 187, 238, 0.15);
    border-radius: 15px;
}

.n-back-buttons {
    margin: 2%;
    flex-basis: auto;
    flex-grow: 1;
    background-color: white;
    border-radius: 15px;
    border: black solid 1px;
    font-size: 15px;
}

.n-back-buttons:hover {
    color: blue;
}

.n-back-buttons:disabled {
    color: gray;
}

.n-back-buttons:active {
    color: gray;
}

#n-back-header {
    position: relative;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(47, 187, 238, 0.15);
    border-radius: 15px;
}

#done-n-back {
    flex-basis: auto;
    flex-grow: 1;
    margin-left: 3%;
    font-size: 18px;
}

#main {
    padding-top: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}